{% extends "../base.html" %}
{% block main %}
<main>
    <h1>Mini Mart</h1>
    <form method="POST">
        {% comment %} TODO: Add CSRF !! {% endcomment %}
        {{ form.as_p }}
        <button type="submit">Add a Category</button>
    </form>
</main>
{% endblock %}
