{% extends "../base.html" %}
{% block main %}
<main>
    <div id="product-detail" class="product-detail">
        <h1>{{product.name}}</h1>
        <h2>In stock: {{product.quantity}}</h2>
        <p class="product-card-date">This item is on backorder and should be back in stock: 10/12/2022{{product.backorder_date}}</p>
        <p>
            Category: {{product.category}}
        </p>
        <image class="product-image-lg" src="{{product.image}}">
            <div>
                Description: {{product.description}}
            </div>
            <div>
                <h3>Comments</h3>
                <div>
                    <div>{{comment.author}}AJ Johnson on 12/23/21{{comment.created}}</div>
                    <p>
                        This is the best game ever!{{comment.content}}
                    </p>
                </div>
            </div>
            <div>There are no comments.</div>
    </div>
</main>
{% endblock %}